<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biton mailinglijsten</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <style type="text/css">
        @media only screen and (max-width: 42rem) {
            body {
                padding: 0;
            }

            #container {
                width: unset;
                margin: 0;
                display: unset;
                grid-template-columns: auto;
                grid-template-rows: auto;
            }

            .inback {
                display: none !important;
            }

            #topright {
                display: grid;
                grid: auto / auto 1fr;
                align-content: center;
                grid-column-gap: 1rem;
            }
        }

        @media (min-width: 42rem) {
            body {
                padding: 1rem;
            }

            #container {
                margin: 0;

                max-width: 70rem;
                margin-left: auto;
                margin-right: auto;

                grid-template-columns: auto 1fr;
                grid-template-rows: auto;
                grid-template-areas: "left right";
            }

            #left {
                grid-area: left;
            }

            #right {
                grid-area: right;
            }

            #backbutton {
                display: none;
            }

            .mailinglijstitem {
                width: 25rem;
            }
        }

        #container {
            height: 100%;
            display: grid;
            padding: 0;
        }

        #left {
            overflow-y: scroll;
            padding: 1rem;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto 1fr;
            grid-row-gap: 1rem;
        }

        .mailinglijstitem > * {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        #left>* {
            margin: 0;
        }

        #right {
            overflow-y: auto;
        }

        #right>* {
            margin: 1rem;
        }

        #signin {
            margin: 1em;
        }

        #loaderdimmer,
        .ui.loader {
            z-index: 1002 !important;
        }

        /*.loading {*/
        /*position: absolute;*/
        /*top:0;*/
        /*left:0;*/
        /*right:0;*/
        /*bottom:0;*/
        /*display:flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*background-color: rgba(255,255,255,0.5);*/
        /*z-index: 999;*/
        /*margin: 0 !important;*/
        /*}*/

        .modal textarea {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <script type="text/x-template" id="app-template">
      <div id="container" class="ui segment" v-if="inited">
          <div id="loaderdimmer" class="ui inverted dimmer" :class="{active: loading}">
              <div class="ui huge loader"></div>
          </div>


          <div id="left" :class="{inback: selectedmailinglijst}">
              <div>
                  <button class="ui button" v-if="!signedin" @click="signin">Aanmelden</button>
                  <div class="ui labeled button" v-if="signedin" @click="signout">
                      <div class="ui button">
                          Afmelden
                      </div>
                      <span class="ui basic label">{{user}}</span>
                  </div>
                  <button class="ui right floated icon button" v-if="signedin" @click="loadMailinglijsten">
                      <i class="refresh icon"></i>
                  </button>
                  <button class="ui right floated icon button" v-if="typeof window.orientation !== 'undefined'"
                          @click="togglefullscreen">
                      <i class="expand icon"></i>
                  </button>
              </div>
              <div class="ui buttons" v-if="signedin">
                  <button class="ui button" @click="loadmailinglijstenbyemail(prompt('Emailadres:'))">Zoek op
                      e-mailadres
                  </button>
              </div>
              <div class="ui fluid icon input" v-if="signedin">
                  <input type="text" placeholder="Zoeken..." v-model="searchtext">
                  <i class="remove link icon" @click="searchtext = ''" v-if="searchtext.length > 0"></i>
                  <i class="search icon" v-else></i>
              </div>
              <div class="ui large divided list" v-if="signedin">
                  <div class="item mailinglijstitem" v-for="mailinglijst in searchmailinglijsten">
                      <a class="header" @click="selectmailinglijst(mailinglijst)">{{mailinglijst.Naam}}</a>
                      <a class="description" @click="selectmailinglijst(mailinglijst)">{{mailinglijst.Emailadres}}</a>
                  </div>
              </div>
          </div>


          <div id="right" v-if=" signedin && selectedmailinglijst" :class="{inback: !selectedmailinglijst}">
              <div id="topright">
                  <button id="backbutton" class="ui icon button" style="height: 2.8rem;" @click="goback"><i
                          class="arrow left icon"></i>
                  </button>
                  <h1 class="ui header" style="margin-top: 0; word-wrap: break-word; overflow: hidden;">
                      {{selectedmailinglijst.Naam}}
                      <span class="sub header">{{selectedmailinglijst.Emailadres}}</span>
                  </h1>
              </div>
              <div style="display: flex; justify-content: center;">
                  <button class="ui labeled icon button" @click="ledentoevoegen"><i class="add icon"></i>Leden
                      toevoegen
                  </button>
                  <button class="ui labeled icon button" @click="ledenverwijderen"><i class="remove icon"></i>Leden
                      verwijderen
                  </button>
              </div>
              <div class="ui info message" v-if="lastmessage.length > 0">
                  <i class="close link icon" @click="lastmessage = ''"></i>
                  <span class="header">Resultaat van operatie:</span>
                  <pre>{{lastmessage}}</pre>
              </div>
              <div class="ui horizontal divider">Leden</div>
              <div class="ui list">
                  <span v-if="!loading && selectedmailinglijst.Leden.length === 0">Geen leden</span>
                  <div class="item" v-for="lid in selectedmailinglijst.Leden">
                      <a @click.prevent="loadmailinglijstenbyemail(lid)">{{lid}}</a>
                      <div class="right floated content">
                          <button class="ui mini basic icon button"
                                  @click="removelid(selectedmailinglijst, lid)"
                                  style="padding: 0.3em 0.5em;">
                              <span style="font-weight: 900; font-size: larger;">&times;</span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>


          <div id="batchmodal" class="ui small modal">
              <div class="header">
                  <span v-if="modalaction==='toevoegen'">Leden toevoegen</span>
                  <span v-if="modalaction==='verwijderen'">Leden verwijderen</span>
              </div>
              <i class="black close icon"></i>
              <div class="content">
                  Leden om {{ modalaction==='toevoegen' ? 'toe te voegen' : (
                  modalaction==='verwijderen' ? 'te verwijderen' : '') }}
                  , &eacute;&eacute;n per regel of gescheiden door een komma:
                  <textarea rows="18" v-model="modalcontent"></textarea>
              </div>
              <div class="actions">
                  <div class="ui button" @click="modalcancel">Annuleren</div>
                  <div class="positive ui button" v-if="modalaction==='toevoegen'" @click="execledentoevoegen">
                      Toevoegen
                  </div>
                  <div class="negative ui button" v-if="modalaction==='verwijderen'"
                       @click="execledenverwijderen">
                      Verwijderen
                  </div>
              </div>
          </div>


          <div id="byemailmodal" class="ui tiny modal">
              <i class="black close icon"></i>
              <div class="scrolling content">
                  <h3>{{selectedemail}}</h3>
                  <div class="ui horizontal divider">Mailinglijsten</div>
                  <div class="ui list">
                      <div class="item" v-for="mailinglijst in mailinglijstenbyemail">
                          <div class="right floated content">
                              <button class="ui tiny basic icon button"
                                      @click="removemailinglijstfromlid(mailinglijst, selectedemail)"
                                      data-tooltip="Verwijderen" data-position="left center">
                                  <i class="remove icon"></i>
                              </button>
                          </div>
                          <div class="content">
                              <a @click="selectmailinglijst(mailinglijst)">
                                  <strong>{{mailinglijst.Naam}}</strong>
                                  ({{mailinglijst.Emailadres}})
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </script>
    <div id="app"></div>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="rlug.js"></script>
</body>

</html>